{% extends 'layout.twig' %}

{% block head %}
    <link rel='stylesheet' href='/stylesheets/about.css' />
{% endblock %}

{% block body %}

    <center><h1 style="font-size: 48px; font-weight: normal; color: #E0F7FA;"> ABOUT PAGE</h1></center>

    <div class="row">
        <div class="col">
            <center><p style="font-size: 24px;" > Phattharant Khunakornophat </p>
            <img src="../about/c.jpg" style="width: 50%"></center><br>

            <a href="https://github.com/chuan-pk"> Github </a><br>
            <a href="http://s5901012610091.blogspot.com/"> Blog </a><br>
        </div> {# col1 /div #}

        <div class="col">
            <center><p style="font-size: 24px;" > Thanawat Thongthip </p>
            <img src="" style="width: 50%"></center><br>

            <a href="https://github.com/Raymond4250"> Github </a><br>
            <a href="http://sdp2-thanawat.blogspot.com/"> Blog </a><br>
        </div> {# col2 /div #}


        <div class="col">
            Prai05
        </div> {# col3 /div #}
    </div>  {# row /div #}

        <p style="font-size: 20px; color: #E0F7FA; padding: 12px; margin: 24px;">

                Todo Dashboard....<br>
                Express....<br>
                Javascript.....<br>
                <br>
                <br>

                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

        </p>



{% endblock %}