{% extends 'layout.twig' %}

{% block head %}
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
{% endblock %}

{% block body %}

    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link active" href="/about">About page</a></li>
        <li class="nav-item"><a class="nav-link" href="/signin">Sign in or Sign up</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>

<body class="container-fluid" style="padding: 8px 24px 8px 24px; color: #424242;">

    <center><h1 style="color: #424242;"> TODO DASHBOARD ABOUT PAGE</h1></center>
    <br>

    <div class="mx-auto" style="width: 80%;">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 400px; box-shadow: 0px 1px 4px rgba(44, 62, 80, 0.20);">
                <img class="card-img-top" src="../img/about/c.jpg" alt="Card image">
                    <div class="card-body">
                    <center><h5 class="card-title" style="color: #424242;">Phattharanat Khunakornophat</h5></center>
                    <a href="https://github.com/chuan-pk"> Github </a><br>
                    <a href="http://s5901012610091.blogspot.com/"> Blog </a><br>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 400px; box-shadow: 0px 1px 4px rgba(44, 62, 80, 0.20);">
                <img class="card-img-top" src="../img/about/l.jpg" alt="Card image">
                    <div class="card-body">
                    <center><h5 class="card-title" style="color: #424242;">Thanawat Thongthip</h5></center>
                    <a href="https://github.com/Raymond4250"> Github </a><br>
                    <a href="http://sdp2-thanawat.blogspot.com/"> Blog </a><br>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 400px; box-shadow: 0px 1px 4px rgba(44, 62, 80, 0.20);">
                <img class="card-img-top" src="../img/about/p.jpg" alt="Card image">
                    <div class="card-body">
                    <center><h5 class="card-title" style="color: #424242;">Sarun Chaisutanon</h5></center>
                    <a href="https://github.com/prai05"> Github </a><br>
                    <a href="http://praisarun.blogspot.com/"> Blog </a><br>
                </div>
            </div>
        </div>
    </div>      {# row /div #}
    </div>

    <br>
    <br>

    <center><h1 style="color: #424242;"> FEATURE </h1></center>
        <p style="color: #424242; margin: 36px;">
                "จุดประสงค์ของการทำ web app "Todo Dashboard" นี้ขึ้นมาเพื่อต้องการให้ผู้ใช้งานตั้งเป้าหมายในสิ่งที่ตนเองต้องการจะทำ
                เพื่อไม่ให้ลืมไปเสียก่อนและรู้จักวางแผนในการทำกิจกรรมในแต่ละวัน โดยจะแสดงผลในรูปแบบ todolist และปฎิทิน ยิ่งกว่านั้นได้มีส่วน
                dashboard ซึ่งสรุปผลในรูปแบบ pie chart หรือแผนภูมิวงกลม ทั้งในส่วนที่ทำสำเร็จ/ไม่สำเร็จ และ priority เพื่อให้ผู้ใช้งานเห็นว่า
                ทำสำเร็จไปแล้วคิดเป็นกี่เปอร์เซ็นจากทั้งหมด และแสดงความสำคัญของแต่ละกิจกรรมมากน้อยแค่ไหน ซึ่งผู้จัดทำหวังว่า web app
                นี้จะเป็นประโยชน์ต่อผู้ใช้ไม่มากก็น้อย"
        </p>
</body>
{% endblock %}