{% extends 'layout.twig' %}

{% block head %}
    <link rel='stylesheet' href='/stylesheets/about.css' />
{% endblock %}

{% block body %}

    <center><h1 style="font-size: 48px; font-weight: normal; color: #E0F7FA;"> TODO DASHBOARD ABOUT PAGE</h1></center>

    <div class="row">
        <center><p style="font-size: 32px; color: #E0F7FA;"> ผู้จัดทำ </p>
        <div class="col">
            <center><p style="font-size: 24px;" > Phattharanat Khunakornophat </p>
            <img src="../about/c.jpg" style="width: 50%"></center><br>

            <a href="https://github.com/chuan-pk"> Github </a><br>
            <a href="http://s5901012610091.blogspot.com/"> Blog </a><br>
        </div>  {# col1 /div #}

        <div class="col">
            <center><p style="font-size: 24px;" > Thanawat Thongthip </p>
            <img src="../about/l.jpg" style="width: 50%"></center><br>

            <a href="https://github.com/Raymond4250"> Github </a><br>
            <a href="http://sdp2-thanawat.blogspot.com/"> Blog </a><br>
        </div>  {# col2 /div #}


        <div class="col">
            <center><p style="font-size: 24px;" > Sarun Chaisutanon </p>
            <img src="../about/p.jpg" style="width: 50%"></center><br>
            <a href="https://github.com/prai05"> Github </a><br>
            <a href="http://praisarun.blogspot.com/"> Blog </a><br>
        </div>  {# col3 /div #}
    </div>      {# row /div #}

    <center><h1 style="font-size: 32px; font-weight: normal; color: #E0F7FA;"> FEATURE </h1></center>
    <div class="col2" style="text-indent: 0.5in;">
        <p style="font-size: 20px; padding: 12px; margin: 24px;">
                "จุดประสงค์ของการทำ web app "Todo Dashboard" นี้ขึ้นมาเพื่อต้องการให้ผู้ใช้งานตั้งเป้าหมายในสิ่งที่ตนเองต้องการจะทำ
                เพื่อไม่ให้ลืมไปเสียก่อนและรู้จักวางแผนในการทำกิจกรรมในแต่ละวัน โดยจะแสดงผลในรูปแบบ todolist และปฎิทิน ยิ่งกว่านั้นได้มีส่วน
                dashboard ซึ่งสรุปผลในรูปแบบ pie chart หรือแผนภูมิวงกลม ทั้งในส่วนที่ทำสำเร็จ/ไม่สำเร็จ และ priority เพื่อให้ผู้ใช้งานเห็นว่า
                ทำสำเร็จไปแล้วคิดเป็นกี่เปอร์เซ็นจากทั้งหมด และแสดงความสำคัญของแต่ละกิจกรรมมากน้อยแค่ไหน ซึ่งผู้จัดทำหวังว่า web app
                นี้จะเป็นประโยชน์ต่อผู้ใช้ไม่มากก็น้อย"
        </p>
    </div>

{% endblock %}
