{% extends 'layout.twig' %}

{% block body %}
    <h1 style="font-size:36px; font-weight: normal; color: blue;">Todo Dashboard Application</h1>
    <p style="font-size:24px; color: red;">Welcome to Todo Dashboard</p>


    <form method="POST">
        <input placeholder="Enter to-do item" id="todo_text" name="todo_text" style="margin: 0px 15px 0px 5px;" required>
        <input placeholder="date picker" id="date" name="date" type="date" style="margin: 0px 15px 0px 5px;">
        <select id="priority" name="priority">
            <option value="" disabled selected> Select priority </option>
            <option value="High"> High </option>
            <option value="Medium"> Medium </option>
            <option value="Low"> Low </option>
        </select>
        <button> Add </button>
    </form>

    {# calendar #}
    <p style="margin: 50px; color: gray;"> # Calendar here </p>


    <h1> Todo </h1>
    {# todo item in unordered list? or table? #}

    <ul>
        {% for todo in todo_list %}
            <li> {{todo.todo_text}} {{todo.date}} {{todo.priority}} <button style="padding: 2px; margin: 1px 5px 1px 5px;"><img src="/icon/correct.svg" style="width: 25px; height:25px;">
                <button style="padding: 2px; margin: 1px 5px 1px 5px;"><img src="/icon/garbage.svg" style="width: 25px; height:25px;"></li>
        {% endfor %}
    </ul>


    <h1> Complete </h1>
    <ul>
        <li> #Complete dummy, date, priority <button style="padding: 2px; margin: 1px 5px 1px 5px;"><img src="/icon/cancel-1.svg" style="width: 25px; height:25px;">
                <button style="padding: 2px; margin: 1px 5px 1px 5px;"><img src="/icon/garbage.svg" style="width: 25px; height:25px;"> </li>
    </ul>



{% endblock %}
