<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div align="right">
      <a href="/">home</a>
      <a href="/about">about page</a>
      {%if user%}
      <a href="/signup">Sign Up</a>
      <a href="/logout">logout</a>
      
      {% else %}
      <a href="/signin">Sign In</a>
      {% endif %}
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
